div.addPost.col-md-12
  div.col-md-6
    h2 نوشتن پست جدید
    label(for='title') عنوان
    div.form-group
      label(for='title')
      input.form-control(ng-model='form.title', name='title')
      label(for='text') متن
      div.form-group
      textarea.form-control(ng-model='form.text', cols='50', rows='15',name="text")
      button(ng-click='submitPost()') ارسال
